.close-calc-wrap {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 35px;
  height: 35px;
  border-radius: 7px;
}

.calc-container {
  width: 60vw;
  height: 80vh;
  background-color: rgb(42, 41, 41);
  margin: 7vh auto 0 auto;
  position: relative;
  border-radius: 10px;
}

.calc-container button { transition: transform .1s, background-color .1s; }

.calc-container button:active, button.btn-active {
  background-color: rgb(78, 73, 73);
  transform: scale(0.97);
}
.header-panel {
  position: absolute;
  top: 10px;
  left: 2.5%;
  width: 80%;
  height: 50px;
  background-color: rgb(93, 76, 76);
  color: whitesmoke;
  border-radius: 7px;
  overflow-x: auto;
  font-size: 1.5rem;
  padding: 10px;
}

.delete-symbol-btn {
  position: absolute;
  right: 2.5%;
  top: 10px;
  height: 50px;
  width: 12.5%;
  border-radius: 10px;
  color: rgb(120, 0, 0);
  font-size: 1.75rem;
}

.navigation-panel {
  position: absolute;
  top: 75px;
  left: 2px;
  width: calc(100% - 2px);
  gap: 10px;
}

.numbers-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: calc(80vh - 75px);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.numbers-panel button {
  width: 27%;
  height: 19%;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 2px solid black;
}
.operators-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: calc(80vh - 75px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.operators-panel button {
  width: 75%;
  height: 19%;
  font-size: 2rem;
  border-radius: 5px;
  border: 2px solid black;
}