* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  user-select: none;
}
::-webkit-scrollbar { width: 0; }

button { cursor: pointer; }

input:focus { border: 2px solid rgb(104, 104, 182); }

:root {
  --body-bg: linear-gradient(180deg, rgb(157, 233, 157), rgb(89, 219, 89)) no-repeat fixed;
  --text-color: black;
  --block-bg: linear-gradient(180deg, rgb(254, 254, 81), rgb(251, 251, 153))
}
html.dark-theme {
  --body-bg: linear-gradient( 180deg, rgb(63, 108, 63), rgb(30, 61, 30)) no-repeat fixed;

  --text-color: rgb(225, 240, 225);

  --block-bg: linear-gradient( 180deg, rgb(170, 170, 60), rgb(120, 120, 40)
  );
}

html .show { display: block; }

[data-theme-switcher] {
  background: linear-gradient(150deg, rgb(126, 1, 1), rgb(255, 84, 84));
  font-size: 2.5rem;
  box-shadow: 0 0 5px red;
}

body {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
}

.--opened-btn, [data-theme-switcher] {
  width: clamp(170px, 24vw, 25vw);
  height: clamp(55px, 60px, 65px);
  border-radius: 15px;
  border: 1px solid black;
}
.--opened-btn {
  background: linear-gradient(150deg, rgb(1, 1, 67), rgb(4, 4, 160));
  color: white;
  box-shadow: 0 0 5px blue;
}

.min-wrap {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
.todo-wrap, .notes-wrap, .calc-wrap, .save-urls-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background: var(--body-bg);
  overflow-y: auto;
}
.minimized {
  width: 40vw;
  height: 40vh;
  border: 1px solid black;
  border-radius: 3px;
}

.show-all-dashboard-stats {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  font-size: 2.2rem;
  border-radius: 7px;
  background-color: transparent;
}

.drag-and-drop-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
}

/* All stats */
.all-stats-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 40vw;
  height: max-content;
  border-radius: 0 0 15px 0;
  display: none;
  background: var(--block-bg);
  padding: 5px;
}

@media (hover: none) {
  button, input { transition: none; cursor: auto; }
  button:hover, input[type='checkbox']:hover  { transform: scale(1); }
  .min-wrap { display: none; }
}

/* Del animation */
@keyframes del-anim {
  from { opacity: 1; }
  to { opacity: 0; }
}
html .del-anim {
  animation: del-anim 1.5s;
  background: rgb(221, 115, 115);
  color: red;
}