.notes-wrap { overflow-y: auto; }
[data-notes-text-block] {
  background: var(--block-bg);
  color: var(--text-color);
  padding: 7px;
  resize: none;
  width: 90vw;
  margin: 100px auto 0 auto;
  min-height: 15vh;
  height: max-content;
  max-height: calc(99vh - 100px);
  overflow-y: auto;
  border-radius: 7px;
  font-size: 1.2rem;
  scroll-behavior: smooth;
}

[data-close-notes-wrap], [data-save-text], .reload-all-notes-tags {
  width: clamp(150px, 25vw, 25vw);
  height: 35px;
  border-radius: 8px;
  position: absolute;
  top: 10px;
  font-size: 1.2rem;
}
[data-close-notes-wrap] { right: 5vw; }
[data-save-text] { left: 5vw; }
.reload-all-notes-tags { left: 37.5vw; }

.search-text-in-notes {
  width: 90vw;
  height: 25px;
  position: absolute;
  top: 60px;
  left: 5vw;
  border-radius: 7px;
  padding-left: 5px;
}

mark {
  background-color: yellow;
  color: blue;
  border-radius: 2px;
}

.btn-up, .btn-down {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 2px;
  border-radius: 5px;
}
.btn-up { top: 100px; }
.btn-down { top: 130px; }