.close-save-urls-wrap {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.save-url-name-input, .save-opened-url-input, .search-url {
  left: 5vw;
  border-radius: 5px;
  padding-left: 5px;
  height: clamp(20px, 24px, 25px);
  position: absolute;
}

.save-url-name-input {
  width: 90vw;
  top: 70px;
}
.save-opened-url-input {
  width: 70vw;
  top: 40px;
}
.save-url-btn {
  width: 17.5vw;
  height: clamp(20px, 24px, 25px);
  position: absolute;
  right: 5vw;
  border-radius: 5px;
  top: 40px;
}
.search-url {
  position: absolute;
  top: 100px;
  width: 90vw;
}

.all-urls-container {
  width: 90vw;
  position: absolute;
  top: 155px;
  left: 5vw;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.url-block {
  width: max-content;
  min-width: 150px;
  max-width: 100%;
  text-align: center;
  padding: 5px;
  background: var(--block-bg);
  border-radius: 7px;
  position: relative;
  height: 70px;
}

.url-block p, .url-block a { text-wrap: wrap; user-select: text; }

.del-url-btn {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 5px;
  position: absolute;
  bottom: 2px;
  left: 2px;
}