body, [data-todo-block] {
  transition:
    background 0.5s,
    color 0.3s;
}

body {
  min-height: 100%;
  height: auto;
  background: var(--body-bg);
  color: var(--text-color);
  padding: 10px;
}

.todo-wrap button, .todo-wrap input { transition: transform .2s; cursor: pointer; }
.todo-wrap button:hover, .todo-wrap input[type='checkbox']:hover  { transform: scale(1.1); }

[data-todo-input] {
  position: absolute;
  top: 25px;
  left: 2.5%;
  width: 80%;
  height: max(4.5%, 25px);
  border-radius: 10px;
  border: 1px solid black;
  padding-left: 10px;
  font-size: 1.25rem;
}
[data-todo-input]::placeholder, [data-todo-search]::placeholder { font-size: 1.25rem; }
[data-todo-search] {
  position: absolute;
  top: 75px;
  left: 2.5%;
  width: 70%;
  height: max(4.5%, 25px);
  border-radius: 10px;
  border: 1px solid black;
  padding-left: 10px;
  font-size: 1.25rem;
}

[data-add-todo] {
  position: absolute;
  top: 25px;
  right: 2.5%;
  border: 1px solid black;
  height: max(4.5%, 25px);
  border-radius: 10px;
  width: 12.5%;
  font-size: 0.8rem;
}
[data-sort-todos] {
  position: absolute;
  right: 12.5%;
  top: 75px;
  width: 12.5%;
  border: 1px solid black;
  height: max(4.5%, 25px);
  border-radius: 10px;
  font-size: 1rem;
}

[data-todos-container] {
  width: 85%;
  position: absolute;
  top: 150px;
  left: 7.5%;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

[data-todo-block] {
  position: relative;
  background: var(--block-bg);
  border-radius: 10px;
  height: 115px;
  transition: box-shadow 1s;
  width: clamp(250px, 30%, 100%);
}
[data-todo-block]:has([data-todo-input-completed]:checked) {
  background: linear-gradient(180deg, rgb(0, 255, 0), rgb(80, 147, 80));
  box-shadow: 0 0 15px rgb(0, 255, 0);
  transition: box-shadow 1s;
}
[data-todo-block]:has([data-todo-input-completed]:checked) h2 {
  text-decoration: line-through;
  text-decoration-color: #4caf50;
}

[data-todo-h2] { position: absolute; left: 5px; font-size: 1.2rem; top: 5px; }
[data-todo-p] {
  position: absolute;
  top: 2px;
  right: 3px;
  font-size: 0.75rem;
}

[data-del-todo-btn] {
  position: absolute;
  bottom: 5px;
  left: 45%;
  width: 10%;
  height: 20%;
  border-radius: 7px;
  background-color: transparent;
  font-size: 1.25rem;
}
[data-replace-todo-btn] {
  position: absolute;
  bottom: 5px;
  right: 2px;
  width: 10%;
  height: 20%;
  border-radius: 7px;
  background-color: transparent;
  font-size: 1.25rem;
}
[data-replace-todo-input] {
  position: absolute;
  bottom: 35px;
  left: 5%;
  width: 90%;
  border-radius: 7px;
  display: none;
  padding-left: 10px;
  height: 25px;
}
[data-replace-todo-input].show { display: block; }

[data-todo-input-completed] {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 25px;
  height: 25px;
}

[data-todos-number] {
  position: absolute;
  top: 2px;
  left: 10%;
  font-size: 0.8rem;
}

[data-close-todo-wrap] {
  width: 7.5%;
  height: max(4.5%, 25px);
  position: absolute;
  top: 75px;
  right: 2.5%;
  border-radius: 10px;
  border: 1px solid black;
}

[todo-symbols-length] {
  position: absolute;
  top: 2px;
  right: 20%;
}

@media (hover: none) {
  button, input { transition: none; cursor: auto; }
  button:hover, input[type='checkbox']:hover  { transform: scale(1); }
}